

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}



.main{


display: flex;
flex-direction: column;

align-items: center;
}

body{
  background: aliceblue;
}
 #current-city{
   width: 75%;
 }
